#root {
  font-family: "Supermercado One", cursive;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgb(0, 255, 76);
  min-height: 100%;
  padding: 2rem;
}

.countdown {
  font-size: 8rem;
}

@font-face {
  font-family: "timer-regular";
  src: url("../public//font/Black_Ops_One/BlackOpsOne-Regular.ttf");
}
