.App {
  font-family: "Supermercado One", cursive;
  padding: 10rem;
  text-align: center;
  font-size: 20rem;
}

.countdown {
  border: 2px solid black;
  width: 30%;
  margin: auto;
}

.isRed {
  color: #9d1d20;
}

.isBlue {
  color: #1a0d58;
}

@font-face {
  font-family: "timer-regular";
  src: url("../public//font/Black_Ops_One/BlackOpsOne-Regular.ttf");
}
